@{
    ViewBag.Title = "Home Page";
}

<div class="mt-10">
    <textarea name="encrypt" id="encrypt"></textarea>
</div>

<div class="mt-10">
    <button onClick="JavaScript:encryptWithJavascript()">encrypt with javascript</button> <button onClick="JavaScript:encryptWithCsharp()">encrypt with csharp</button>
</div>


<div class="mt-10">
    <textarea name="decrypt" id="decrypt"></textarea>
</div>

<div class="mt-10">
    <button onClick="JavaScript:decryptWithJavascript()">decrypt with javascript</button> <button onClick="JavaScript:decryptWithCsharp()">decrypt with csharp</button>
</div>